body {
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 50vw 1fr;
	grid-template-rows: 10vh 1fr;
	background-color: floralwhite;
}

canvas { 
	width: 100%; 
	height: 100% 
}

#main-container {
	grid-column: 2;
	grid-row: 2;
	font-family: 'Open Sans', sans-serif;
	color: hsl(0, 0%, 25%);
}

.piece-title {
	font-size: 40px;
}

h1 h2 {
	font-family: 'IBM Plex Sans', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}