body {
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    background-image: url("./bg.jpg");
    cursor: none;
}

#logocont {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    height: 80vh;
    width: auto;
    opacity: 0.9;
    mix-blend-mode: screen;
}