body {
  margin: 0;
  background: black;
}

#scroll-marker {
  width: auto;
  opacity: 0;
  height: 25px;
  margin-bottom: 25px;
  transition: opacity ease-in-out 0.4s;
}

#bg-cont {
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  margin: 0px 0px 0px 0px;
  position: fixed;
  top: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bg {
  height: 100vh;
  width: 100vw;
  max-width: 600px;
  background-color: black;
  opacity: 0;
  transition: opacity linear 0.5s;
}

@media (min-width: 600px) {
  #bg {
    box-shadow: 0px 0px 100px 120px black;
  }
}

#main-container {
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(166, 166, 226);
  opacity: 0;
  transition: opacity linear 0.5s;
  font-family: "IBM Plex Sans", sans-serif;

  font-weight: 300;
  font-size: 18px;
}

#written-content {
  font-weight: 400;
  width: 85vw;
  max-width: 500px;
  /* user-select: none; */
}

#buffer-top {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#three {
  position: fixed;
  min-height: 100%;
  z-index: -2;
  margin: 0px 0px 0px 0px;
}

#bio {
  margin-top: 0px;
  margin-bottom: 10px;
}

.work-project {
  margin-left: -2%;
  margin-right: -2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  background-image: none;
  background-blend-mode: screen;
  background-size: cover;
  transition: background-color 0.4s;
}

.work-project:hover {
  background-color: rgba(169, 115, 212, 0.1);
}

video {
  width: 18%;
}

.project-content {
  display: grid;
  grid-template-columns: 140px 12fr 1fr;
  grid-gap: 10px;
  width: 96%;
  height: 100%;
}

.project-left {
  grid-column: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 14px;
}

.project-right {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.github-container {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frameworks {
  opacity: 0.6;
  transition: opacity 0.4s;
  font-size: 12px;
}

.github-link {
  fill: white;
  width: 90%;
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 4;
}

h1 {
  font-family: "Monda", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 5px;
}

h2 {
  font-family: "Monda", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 4px;
  font-style: bold;
}

h3 {
  font-weight: 300;
  font-size: 20px;
  margin: 0px 0px 5px 0px;
}

p {
  font-size: 13px;
  line-height: 18px;
}

hr {
  height: 15px;
  border: 0px solid royalblue;
  opacity: 0.4;
}

#personal-links {
  font-size: 14px;
  width: 180px;
  display: flex;
  justify-content: space-between;
}

.project-link {
  display: block;
}

.outbound-link {
  color: rgba(169, 115, 212, 0.9);
  transition: color 0.4s ease-in-out;
}

.outbound-link:hover {
  color: white;
}
