html {
  background: black;
}

body {
  margin: 0px 0px 0px 0px;
  background-color: black;
}

#main-container {
  height: 2000px;
  width: 100vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  mix-blend-mode: difference;
  font-family: "Roboto Mono", monospace;
}

#written-content {
  width: 85vw;
  max-width: 500px;
}

#buffer {
  height: 100vh;
}

#three {
  position: fixed;
  z-index: 0;
  margin: 0px 0px 0px 0px;
}
